@import "../../colors/colors";

.list-item {
  margin-bottom: 3.2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1.2rem;
  position: relative;
  border-radius: 4px;
  height: auto;

  .logoImage {
    width: 9rem;
    height: 9rem;
    margin-right: 1.6rem;
  }

  .item-details {
    flex-grow: 1;
  }

  .company-name {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0.8rem;
    color: $text;
  }

  .position {
    color: $text;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 1.4rem;
  }

  .position-type {
    button {
      background-color: #fff;
      padding: 0.6rem 0.8rem;
      border: 1px solid $text;
      color: $text;
      font-weight: bold;
      border-radius: 4px;
    }
  }

  .time-and-place {
    right: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: $gray;
    display: flex;
    align-items: flex-end;

    .placeName {
      margin-right: 2.8rem;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 0.7rem;
      }
    }

    .time {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 0.7rem;
      }
    }
  }
}

@media (max-width: 582px) {
  .time-and-place {
    margin-left: 10.5rem;
    margin-top: 2.6rem;
  }
}

@media (max-width: 864px) {
  .time-and-place {
    margin-left: 10.5rem;
    margin-top: 2.6rem;
  }
}

@media (max-width: 398px) {
  .list-item {
    .company-name {
      margin-top: 1.7rem;
    }
    .time-and-place {
      margin-left: 0;
      margin-top: 2.6rem;
    }
  }
}
