@import "../../colors/colors";
.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4.2rem;
  flex-wrap: wrap;

  .filters {
    width: 25rem;
  }

  .listings {
    flex-basis: 40rem;
    flex-grow: 1;
    margin-left: 3.2rem;

    .time-and-place {
      flex-basis: 18.3rem;
      border: 2px solid orange;
    }
  }
}

@media (max-width: 761px) {
  .contentWrapper {
    .filters {
      width: 100%;
    }

    .listings {
      margin-top: 0.7rem;
      margin-left: 0;
      width: 100%;
    }
  }
}

@media (max-width: 720px) {
  .contentWrapper {
    .filters {
      width: 100%;
    }

    .listings {
      display: block;
    }
  }
}
