@import "../../colors/colors";

.view-job {
  .contentWrapper {
    padding-top: 1.3rem;
  }

  .sidebar {
    min-width: 30.8rem;
    padding-right: 5.5rem;

    .previous-page-link {
      font-weight: 500;
      font-size: 1.4rem;
      color: $link;
      display: flex;
      align-items: center;

      .arrow-back {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
      }
    }
    .title-text {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding-top: 3.6rem;
      padding-bottom: 1.6rem;
      color: $gray;
    }
    .send-info {
      color: $text;
      font-weight: 500;
      line-height: 21px;
      font-size: 1.4rem;
      text-align: left;

      .email {
        color: $link;
      }
    }
  }

  .job-details {
    .job-title {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: $text;

      .job-type {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 0 0.8rem;
        border: 1px solid $text;
        color: $text;
        font-weight: bold;
        border-radius: 4px;
        font-size: 1.2rem;
        margin-left: 1.7rem;
      }
    }

    .posted-on {
      margin-top: 1rem;
      margin-bottom: 3.2rem;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: $gray;
      display: flex;
      align-items: center;

      .text {
        margin-left: 0.7rem;
      }
    }

    .company {
      display: flex;
      margin-bottom: 3rem;

      .company-logo {
        img {
          width: 42px;
          height: 42px;
        }
        margin-right: 1.2rem;
      }
      .company-name {
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: $text;
        margin-bottom: 1rem;
      }
      .company-address {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: $gray;
        display: flex;
        align-items: center;

        .text {
          margin-left: 0.7rem;
        }
      }
    }

    .job-description {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $text;
    }
  }
}

@media (max-width: 960px) {
  .view-job {
    .job-details {
      .job-title {
        margin-top: 3.6rem;
      }
    }
  }
}

@media (max-width: 460px) {
  .view-job {
    .job-details {
      .job-title {
        .title-text {
          width: 100%;
          flex-grow: 1;
        }
        flex-wrap: wrap;
        .job-type {
          margin-left: 0;
        }
      }
    }
  }
}
